@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set the background color and font for the body */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Style the flash message */
.flash-message {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #e74c3c;
  color: #fff;
  border: 2px solid #c0392b;
  border-radius: 4px;
  font-family: 'Press Start 2P', monospace;
  font-size: 12px;
}
